<h1 class="text-4xl font-bold text-center pb-4 mt-4">Popular Movies</h1>

<div data-controller="search" class="p-4">
  <input
    type="text"
    data-search-target="input"
    class="p-2 border rounded"
    placeholder="Search movies..."
    data-action="input->search#search"
  >
</div>

<turbo-frame id="movies_list">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <% @movies.each do |movie| %>
      <div class="p-4">
        <div class="bg-gray-800 p-4 rounded-lg text-white">
          <h2 class="text-xl font-semibold"><%= movie["title"] %></h2>
          <img src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" alt="<%= movie['title'] %>" class="mt-4 rounded">
          <p class="mt-2"><%= movie["overview"].truncate(100) %></p>
          <a href="<%= movie_path(movie["id"]) %>" class="text-blue-400 mt-2 block">View Details</a>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>

<div class="w-full flex justify-center my-8">
  <div class="flex justify-center items-center">
    <button
      data-action="click->search#prevPage"
      class="px-4 py-2 mx-2 bg-gray-700 text-white rounded"
      <%= "disabled" if @current_page == 1 %>
    >
      Prev
    </button>

    <span class="text-lg font-semibold my-2">Page <%= @current_page %> of <%= @total_pages %></span>

    <select data-controller="search" data-action="change->search#goToPage" class="p-2 mx-2 border rounded">
      <% (1..@total_pages).each do |page| %>
        <option value="<%= page %>" <%= "selected" if page == @current_page %>>
          <%= page %>
        </option>
      <% end %>
    </select>

    <button
      data-action="click->search#nextPage"
      class="px-4 py-2 bg-gray-700 text-white rounded"
      <%= "disabled" if @current_page == @total_pages %>
    >
      Next
    </button>
  </div>
</div>
